@import "./Breakpoints";
@import "styles/Variables";
.title {
  grid-area: heading;
  margin: $item-spacing 0;
  line-height: 1.15;
  font-size: $h1-size;
  text-align: center;
  @include respond-to('small') {
    font-size: 4rem;
    text-align: left;
  }
}
.heading {
  display: grid;
  grid-template-areas: 'menu heading' 'list list';
}