@import "./Breakpoints";
.title {
  margin: 0.5rem 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  @include respond-to('small') {
    font-size: 4rem;
    text-align: left;
  }
}
.heading {
  display: grid;
  grid-template-areas: 'menu heading' 'list list';
}