@import "./Breakpoints";
@import "./Variables";

.title {
  margin: $item-spacing 0;
  line-height: 1.15;
  font-size: $h1-size;
  text-align: center;
  @include respond-to('small') {
    font-size: 4rem;
  }
}
