@import "./Breakpoints";
.table {
    border: none;
    border-collapse:collapse;
    width: 100%;
    .heading {
        font-size: 1rem;
        border-bottom: 2px solid black;
        th {
            text-align: left;
            &:first-child {
                max-width: 5rem;
            }
        }
        @include respond-to('small') {
            font-size: 1.3rem;
        }
    }
    .tbody {
        tr {
            td {
                padding: 1rem;
            }
            &:hover {
                background-color: #AEAEAE;
            }
            &:nth-child(odd) {
                    background-color: #E6E6E6;
                    &:hover {
                        background-color: #AEAEAE;
                    }       
            }
        }
    }
}
