@import "./Breakpoints";
@import "./Variables";
.table {
    border: none;
    border-collapse:collapse;
    width: 100%;
    .heading {
        font-size: $table-heading;
        border-bottom: $border;
        th {
            text-align: left;
            &:first-child {
                max-width: 5rem;
            }
        }
        @include respond-to('small') {
            font-size: $table-heading-m;
        }
    }
    .tbody {
        tr {
            td {
                padding: 1rem;
            }
            &:hover {
                background-color: $grey;
            }
            &:nth-child(odd) {
                    background-color: $lightGrey;
                    &:hover {
                        background-color: $grey;
                    }       
            }
        }
    }
}
.capacity,.address {
    display: none;
    @include respond-to('small') {
        display: table-cell;
    }

}