// fonts
$h1-size: 2rem;
$table-heading: 1rem;
$table-heading-m: 1.3rem;

// colors
$grey: #AEAEAE;
$lightGrey: #E6E6E6;
$black: #000;
$lightGreen: #CBFCC7;
$darkGreen: #034C45;

//margins
$item-spacing: 0.5rem;

//
$border: 2px solid $black;

// input
$input-border-radius: 0.125rem;